{% extends "base.html" %}

{% load solo_tags %}

{% block sitename%}
  {% get_solo 'entries.SiteConfig' as site_config %}
  {{site_config.title}}
{% endblock sitename%}
  

{% block header %}
  {% get_solo 'entries.SiteConfig' as site_config %}
  <h1><b>{{site_config.title}}</b></h1>
  <h3>{{site_config.sub_title}}</h3>
{% endblock header %}

{% block introtext %}
  {% get_solo 'entries.SiteConfig' as site_config %}
  {% if site_config.introtext %}
  <p>{{site_config.introtext}}</p>
  {% endif %}
{% endblock introtext%}


{% block sidebar %}

  {% for ssection in Sidebars.all %}
    <h4>{{ssection.title}}</h4>
      {% for Sentry in ssection.sidebar_entries.all %}
        {% if Sentry.visible %}
          {% if Sentry.link %} 
             <p class="{% if Sentry.space_bottom %} ph {% endif %}"><a href="{{Sentry.link}}">{{Sentry.title}}</a></p>
          {% else %} 
            <p class="{% if Sentry.space_bottom %} ph {% endif %}">{{ Sentry.title }}</p>
          {% endif %}
        {% endif %}
      {% endfor %}
  {% endfor %}

{% endblock sidebar %}


{% block content %}

        {% for section in Sections.all %}


            <h2>{{section.title}}</h2>
              
              {% for entry in section.entries.all %}
                {% if entry.visible %}
                  <div class="row ph">
                      <div class="col-sm-12 col-md-2 ">
                          <p>
                              {{entry.time}}
                          </p>
                      </div>
                      <div class="col-sm-12 col-md-5 ">
                          <p><b>
                              {{entry.title}}
                          </b></p>
                          <p>{{entry.description|default_if_none:"" }} </p>
                      </div>
                      <div class="col-sm-12 col-md-5 ">
                          <p class="place"> {{entry.place|default_if_none:"" }}</p>
                      </div>
                  </div>
                {% endif %}
              {% endfor %}
        {% endfor %}
{% endblock content %}